html{
  scroll-behavior: smooth;
  overflow-x: hidden;

}
body{
  overflow-x: hidden;
  overflow-y: hidden;
  align-items: center;
  background-color: #000000;
}
h1{
  font-size: 90px;
}
h2{
  font-size: 40px;
}
h3{
  font-size:20px;
  font-weight: 300;
}
h4{
  font-size: 5px;

}
p{
  font-size: 30px;
  line-height: 1.7rem;
}
a{
}
.row{
  flex-wrap: wrap;
  display: -webkit-flex;
  -ms-flexwrap:wrap;
}
.display-1 {
  font-size: 3.25rem;
}
.display-2{
  font-size: 2.125rem;
  font-weight: 900;
}
.display-3{
  font-size: 1.875rem;
  font-weight: 700;
}
.display-4 {
  font-size: 0.875rem;
}
.display-5 {
  font-size: 1.2rem;
}
.display-6 {
  font-size: 1.125rem;
}
.display-7{
  font-size: 1.2925rem;
}



.mbr-section-btn {
  margin-left: -.25rem;
  margin-right: -.25rem;
  font-size: 10px;
}
.btn {
  padding: 0.75rem 1.5rem;
  border-radius: 3px;
}
.btn-primary, .btn-primary:active {
  background-color: #133996 ;
  border-color: #133996 ;
  color: #ffffff ;
}
.btn-primary:hover{
  background-color: #fc0320 ;
  border-color: #0000 ;
  transition: 0.3s;
  box-shadow: 0 10px 55px 5px rgb(25 74 195 / 35%);
}
.btn-primary {
  margin: 1.5rem 0.5rem ;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 10px;
}
.media-container-row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: start;
}
.card{
  border: none;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-figure {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    -webkit-align-self: center;
    align-self: center;
}
.mbr-figure img, .card-img img {
    width: 100%;
}
.mbr-figure img, .mbr-figure iframe {
    display: block;
    width: 100%;
}

#header-01 {
  padding-top: 0px;
  padding-bottom: 0px;
}
#header-01 .container-fluid{
  height: 100vh;
  width: 100vw;
  position: relative;
  margin: 0;
  padding: 0;
}
#header-01 .title-content {
  font-size: 5rem;
  font-family: 'Nunito', sans-serif;
  color: #000000;
  padding: 3.5rem 4.5rem;
}
#header-01 .title-content-2 {
  font-size: 4.5rem;
  font-family: 'Nunito', sans-serif;
  color: #000000;
  padding: 3.5rem 4.5rem;
  margin-top: 15rem;
}
#header-01 .btn{
  color: #ffffff;
  background: rgba(0, 124, 249, 0.4);
  border-color: #000000;
  font-family: 'Barlow', sans-serif;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 10rem;
}
#header-01 .btn:hover{
  background-color: #0069ba;
  border-color: #ffffff ;
}
#hedaer-01 .home-section-btn a.btn:not(.btn-form) {
  border-radius: 10px;
}
#header-01 .home-section-btn {
  margin-left: -.25rem;
  margin-right: -.25rem;
  height: 100vh;
}
#header-01 .d1 {
  position: absolute;
  background-image: url(https://ben-14.github.io/Homepage-part-1/bussit.jpg);
  background-size: 2694px 1920px;

  height: 30vh;
  width: 25vw;

  background-position: 0 50%;

  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  animation: dd1 10s 1, dd12 10s 1;
  animation-delay: 1s, 11s;
  animation-iteration-count: infinite;
}
#header-01 .d2 {
  position: absolute;
  background-image: url(https://ben-14.github.io/Homepage-part-1/bussit.jpg);
  background-size: 2694px 1920px;

  height: 90vh;
  width: 25vw;

  background-position: -10vw 50%;
  left: 10vw;

  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  animation: dd2 10s 2;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
#header-01 .d3 {
  position: absolute;
  background-image: url(https://ben-14.github.io/Homepage-part-1/bussit.jpg);
  background-size: 2694px 1920px;
  overflow: hidden;

  height: 100vh;
  width: 40vw;
  left: 25vw;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
  background-position: -35vw 50%;

  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  animation: dd3 10s 2;
  animation-delay: 1s;
  animation-iteration-count: infinite;

}
#header-01 .d4 {
  position: absolute;
  overflow: hidden;
  background-image: url(https://ben-14.github.io/Homepage-part-1/bussit.jpg);
  background-size: 2694px 1920px;

  height: 80vh;
  width: 30vw;
  left: 60vw;
  background-position: -70vw 50%;

  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  animation: dd4 10s 2;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}



@keyframes dd1 {
  0% {
  }
  50% {
    width: 95vw;
  }
}
@keyframes dd12 {
  0% {
  }
  50% {
    background-position: Calc(0vw - 330px) 50%;
  }
}
@keyframes dd2 {
  0% {
  }
  50% {
    background-position: Calc(-10vw - 330px) 50%;
  }
}
@keyframes dd3 {
  0% {
  }
  50% {
    background-position: Calc(-35vw - 330px) 50%;
  }
}
@keyframes dd4 {
  0% {
  }
  50% {
    background-position: Calc(-70vw - 330px) 50%;
  }
}


#header-03{
  padding-top: 105px;
  padding-bottom: 75px;
  font-family: 'Barlow', sans-serif;
}
#header-03 .container{
  background-color: #c2ecff;
  border-radius: 50px;
  padding: 152px 32px;
}
#header-03 .nav-tabs{
  border-bottom:none;
}
#header-03 .nav-tabs .nav-item{
}
#header-03 .nav-tabs .nav-item .btn{
  border-radius: 40px;
  box-shadow: none !important;
  border-color: #fc643f !important;
  padding: 0.8rem 1.0rem;
  margin: 0.8rem 0.8rem;
}
#header-03 .nav-tabs .nav-item .btn:before{
  background-color: #fc643f;
  color: #000000;
}
#header-03 .nav-tabs .nav-item .btn:active{
  background-color: #fc643f;
  color: #fff;
}
#header-03 .nav-tabs .nav-item:first-child > .btn:after{
  border-right: none !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
#header-03 .nav-tabs .nav-item .btn:hover{
  color:#ffffff;
  background-color: #fc643f;
}
#header-03 .card{
  background-color: #0000;
  border: none;
  border-radius: 50px;
  transition: all 0.3s;
  padding: 1rem 1.5rem !important;
  justify-content: center;
  text-align: center;
}
#header-03 .card:hover{
  box-shadow: 0 10px 55px 5px rgb(25 74 195 / 35%);
  background-image: linear-gradient(#2F80ED, #56CCF2);
}
#header-03 .card .card-img img{
  height: 100px;
  padding-left: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
#header-03 .card .card-img .btn{
  margin-top: 2rem;
  margin-bottom: 1rem;
}



#header-07{
  padding-top: 70px;
  padding-bottom: 90px;
  background-color: #f4f8fa;
  font-family: 'Montserrat', sans-serif;
}
#header-07 .text-content {
    padding-right: 1.5rem;
}
#header-07 .mbr-text {
    color: #8d97ad;
}
#header-07 .counter-container {
    padding-top: 1rem;
}
#header-07 .counter-container ul {
    margin-bottom: 0;
    padding-left: 1.5rem;
}
#header-07 .counter-container ul li {
    margin-bottom: 1rem;
    list-style: none;
}
#header-07 .mbr-figure img {
    border-radius: .25rem;
}




@media all and (max-width: 992px){

  .display-2{
    font-size: 1.025rem;
  }
  .display-6 {
    font-size: 0.525rem;
  }
  .display-7{
    font-size: 0.65rem;
  }
  #header-03 .container{
    padding: 72px 12px;
  }
  #header-03 .card{
    padding: 0.75rem 2.5rem !important;
  }
  #header-07 .mbr-figure img {
    width: 80%;
    height: auto;
    float: right;
  }
}

@media all and (max-width: 578px){
  .display-1 {
    font-size: 2.25rem;
  }
  .display-2{
    font-size: 1.225rem;
  }
  .display-3{
    font-size: 0.975rem;
    font-weight: 300;
  }
  .display-4 {
    font-size: 0.575rem;
  }
  .display-5 {
    font-size: 0.9rem;
  }
  .display-6 {
    font-size: 0.425rem;
  }
  .display-7{
    font-size: 0.55rem;
  }
  p{
    line-height: 1rem;
  }
  #header-07 .text-content{
    width: 60%;
  }
  #header-07 .mbr-figure{
    width: 40%;
  }
  #header-07 .mbr-figure img {
    width: 90%;
    height: auto;
    float: right;
  }
  #header-01 .title-content{
    font-size: 3.5rem;
    padding: 6rem 3rem;
  }
  #header-01 .title-content-2{
    font-size: 1.5rem;
    visibility: hidden;
    margin:-10rem;
  }
  #header-01 .btn{
    color:#ffffff;
    background: rgba(0, 124, 249, 0.2);
    margin-top: 35rem;
  }
  #header-01 .d1 {
    height: 30vh;
    width: 55vw;
    background-size: 673px 960px;
  }
  #header-01 .d2 {
    height: 70vh;
    width: 25vw;
    background-size: 673px 960px;
  }
  #header-01  .d3{
    height: 70vh;
    width: 60vw;
    background-size: 673px 960px;
  }
  #header-01 .d4 {
    height: 70vh;
    width: 30vw;
    background-size: 673px 960px;
  }

}

@media (min-width: 578px) and (max-width: 768px){
  .display-2{
    font-size: 1.15rem;
  }
  #header-03 .card{
    padding: 0.5rem 3.5rem !important;
  }
  #header-01 .title-content{
    font-size: 3rem;
    padding: 4rem 3rem;
  }
  #header-01 .title-content-2{
    visibility: hidden;
    font-size: 6.5rem;
    margin-top: 0rem;
  }
  #header-01 .d1 {
    height: 30vh;
    width: 55vw;
  }
  #header-01 .d2 {
    height:  100vh;
    width: 25vw;
  }
  #header-01  .d3{
    height:  100vh;
    width: 50vw;
  }
  #header-01 .d4 {
    height:  100vh;
    width: 30vw;
  }
  #header-01 .btn{
    color:#ffffff;
    background: rgba(0, 124, 249, 0.2);
    margin-top: 20rem;
    font-size: 15px;
  }

}



*,*:before,*:after {
  box-sizing: border-box;
}
