html{
  scroll-behavior: smooth;
  overflow-x: hidden;

}
body{
  overflow-x: hidden;
  overflow-y: hidden;
  align-items: center;
  background-color: #fff;
}
h1{
  font-size: 90px;
}
h2{
  font-size: 40px;
}
h3{
  font-size:20px;
  font-weight: 300;
}
h4{
  font-size: 5px;

}
p{
  font-size: 30px;
  line-height: 1.7rem;
}
a{
}
.row{
  flex-wrap: wrap;
  display: -webkit-flex;
  -ms-flexwrap:wrap;
}
.display-1 {
  font-size: 3.25rem;
}
.display-2{
  font-size: 2.125rem;
  font-weight: 900;
}
.display-3{
  font-size: 1.875rem;
  font-weight: 700;
}
.display-4 {
  font-size: 0.875rem;
}
.display-5 {
  font-size: 1.2rem;
}
.display-6 {
  font-size: 1.125rem;
}
.display-7{
  font-size: 1.2925rem;
}



.mbr-section-btn {
  margin-left: -.25rem;
  margin-right: -.25rem;
  font-size: 10px;
}
.btn {
  padding: 0.85rem 2rem;
  border-radius: 3px;
}
.btn-primary, .btn-primary:active {
  background-color: #133996 !important;
  border-color: #133996 !important;
  color: #ffffff !important;
}
.btn-primary:hover{
  background-color: #fc0320 !important;
  border-color: #0000 !important;
  transition: 0.3s;
  box-shadow: 0 10px 55px 5px rgb(25 74 195 / 35%);
}
.btn-primary {
  margin: 1.5rem 0.5rem !important;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 10px;

}
.media-container-row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: start;
}
.card{
  border: none;
}
.mbr-section-title {
    font-style: normal;
    line-height: 1.2;
}
.mbr-figure {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    -webkit-align-self: center;
    align-self: center;
}
.mbr-figure img, .card-img img {
    width: 100%;
}
.mbr-figure img, .mbr-figure iframe {
    display: block;
    width: 100%;
}



#header-03{
  padding-top: 105px;
  padding-bottom: 75px;
  font-family: 'Barlow', sans-serif;
}
#header-03 .container{
  background-color: #c2ecff;
  border-radius: 50px;
  padding: 152px 32px;
}
#header-03 .nav-tabs{
  border-bottom:none;
}
#header-03 .nav-tabs .nav-item{
}
#header-03 .nav-tabs .nav-item .btn{
  border-radius: 40px;
  box-shadow: none !important;
  border-color: #fc643f !important;
  padding: 0.8rem 1.0rem;
  margin: 0.8rem 0.8rem;
}
#header-03 .nav-tabs .nav-item .btn:before{
  background-color: #fc643f;
  color: #000000;
}
#header-03 .nav-tabs .nav-item .btn:active{
  background-color: #fc643f;
  color: #fff;
}
#header-03 .nav-tabs .nav-item:first-child > .btn:after{
  border-right: none !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
#header-03 .nav-tabs .nav-item .btn:hover{
  color:#ffffff;
  background-color: #fc643f;
}
#header-03 .card{
  background-color: #0000;
  border: none;
  border-radius: 50px;
  transition: all 0.3s;
  padding: 1rem 1.5rem !important;
  justify-content: center;
  text-align: center;
}
#header-03 .card:hover{
  box-shadow: 0 10px 55px 5px rgb(25 74 195 / 35%);
  background-image: linear-gradient(#2F80ED, #56CCF2);
}
#header-03 .card .card-img img{
  height: 100px;
  padding-left: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
#header-03 .card .card-img .btn{
  margin-top: 2rem;
  margin-bottom: 1rem;
}



#header-07{
  padding-top: 70px;
  padding-bottom: 90px;
  background-color: #f4f8fa;
  font-family: 'Montserrat', sans-serif;
}
#header-07 .text-content {
    padding-right: 1.5rem;
}
#header-07 .mbr-text {
    color: #8d97ad;
}
#header-07 .counter-container {
    padding-top: 1rem;
}
#header-07 .counter-container ul {
    margin-bottom: 0;
    padding-left: 1.5rem;
}
#header-07 .counter-container ul li {
    margin-bottom: 1rem;
    list-style: none;
}
#header-07 .mbr-figure img {
    border-radius: .25rem;
}




@media all and (max-width: 992px){

  .display-2{
    font-size: 1.025rem;
  }
  .display-6 {
    font-size: 0.525rem;
  }
  .display-7{
    font-size: 0.65rem;
  }
  #header-03 .container{
    padding: 72px 12px;
  }
  #header-03 .card{
    padding: 0.75rem 2.5rem !important;
  }
  #header-07 .mbr-figure img {
    width: 80%;
    height: auto;
    float: right;
  }
}

@media all and (max-width: 578px){
  .display-1 {
    font-size: 2.25rem;
  }
  .display-2{
    font-size: 1.225rem;
  }
  .display-3{
    font-size: 0.975rem;
    font-weight: 300;
  }
  .display-4 {
    font-size: 0.575rem;
  }
  .display-5 {
    font-size: 0.9rem;
  }
  .display-6 {
    font-size: 0.425rem;
  }
  .display-7{
    font-size: 0.55rem;
  }
  p{
    line-height: 1rem;
  }
  #header-07 .text-content{
    width: 60%;
  }
  #header-07 .mbr-figure{
    width: 40%;
  }
  #header-07 .mbr-figure img {
    width: 90%;
    height: auto;
    float: right;
  }
}

@media all and (max-width: 768px){
  .display-2{
    font-size: 1.15rem;
  }
  #header-03 .card{
    padding: 0.5rem 3.5rem !important;
  }
}



*,*:before,*:after {
  box-sizing: border-box;
}
